.contenedor-loader{
    background-color: #fff;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1s;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pokeball_loader{
    width: 80px;
    position: relative;
    margin: 20px;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg) ;
    }
}