body{
    background: #ebeeeb;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIElEQVQoU2NcWuD6v2nfFwZcgFFdz/I/TlkGBobhoQAAGHYPccmxFlIAAAAASUVORK5CYII=) repeat;
    color: #fff;
    
    font-size: 5vw;
  }
.contContador{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    user-select: none;

}
.btn_{
    width: 52px;
    height: 52px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
    color:#000;
    background-color: #fff !important;
}
.inptCont{
    width: 100px;
    height: 52px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    color: #3C5FA6;
    font-weight: bold;
    background-color: #fff;
    user-select: none;
    margin-bottom: 10px;
    
}
.btnRestar{
    border-radius: 5px 0 0 5px;
    background-color: #ddd;
}
.btnSumar{
    border-radius:0 5px 5px 0;
    background-color: #ddd;

}
.btn_:hover{
    filter: brightness(1.1);
}

.disable{
    cursor: not-allowed !important;
    background-color: #444 !important;
    color: #222
}
.disable:hover{
    filter: brightness(1.05) !important;
}
