.contContador{
    display: flex;
    align-items: center;
    height: 50px;
    user-select: none;

}
.btn_{
    width: 52px;
    height: 52px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
}
.inptCont{
    width: 100px;
    height: 52px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    color: #000;
    font-weight: bold;
    background-color: #bbb;
    user-select: none;

    
}
.btnRestar{
    border-radius: 5px 0 0 5px;
    background-color: #ddd;
}
.btnSumar{
    border-radius:0 5px 5px 0;
    background-color: #ddd;

}
.btn_:hover{
    filter: brightness(1.1);
}
.btnComprar{
    width: 200px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(47, 172, 84);
}