@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
:root{
    --color-principal: #2D7DD2;
    --color-secundario: #97CC04;
    --color-terciario: #EEB902;
    --color-opcion1: #f45e01;
    --color-opcion2: #af0606;
}

.contenedor{
    width: 100%;
    height: 90vh;
    color: #000; 
    margin-top: 10px;  
}
.title{
    text-align: center;
    text-transform: uppercase;
    margin: 6px;
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* padding-top: 20px; */
}
.contImg{
    margin: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.imgLat{
    display: flex;
}
.imgLat img{
    width: 220px;
    padding: 7px;
    border-radius: 13px;
}
.imgMain img{
    padding: 7px;
    width: 440px;
    border-radius: 13px;
}
.contDescripcion{
    background: rgb(163,157,163);
    background: linear-gradient(45deg, rgba(163,157,163,1) 0%, rgba(192,188,192,1) 48%, rgba(163,157,163,1) 97%);
    width: 500px;
    height: 650px;

    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    color: #222;
}
.contDescripcion .desc{
    margin: 10px;
    font-size: 22px;
    font-weight: normal;
}
.contDescripcion p{
    font-size: 26px;
    height: 160px;
    margin-top: 20px;
    margin: 10px;
}
.contDetalles{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100px;
    width: 88%;
    margin-top: 25px;
    text-align: center;
}
.contDetalles .textoSup{
    font-size: 18px;
}
.contDetalles .textoInf{
    font-size: 26px;
    font-weight: bold;
}

.column{
    width: 200px;
    display: flex;
    flex-direction: column;
}
.contPrecio{
    text-align: center;
    /* background-color: #DDD; */
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.contInfoPrecio{
    background-color: #fff;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    border-radius: 13px;
}
.contPrecio .textoPrecio{
    font-size: 22px;
}
.contPrecio .textoInf{
    font-size: 36px;
    font-weight: bold;
    margin: 6px;
}
.contCompra{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.contador{
    margin-right: 10px;
}
.contador input{
    width: 150px;
    height: 30px;
    text-align: center;
    border: none;
    background-color: #AAA;
    font-weight: bold;
    outline: none;
}
.contador button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #AAA;
    cursor: pointer;
}
.btnComprar{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 60px;
    filter: brightness(1.5);
    transition: .5s;
}
.btnComprar:hover{
    color: #fff;
}
.separador{
    width: 2px;
    height: 80%;
    background-color: #5e5e5e;
}
