@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    /* border: 1px solid red; */
}
/* 
background: #141414; 
background-color: orange;
*/
.navBar{
    background-color: #ececec;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    z-index: 1000;
}
.imgLogo{
    width: 200px;
    margin: 10px;
}
.menuInicio{
    display: flex;
    align-items: center;
}
.iconoPoke, .iconoStars, .home{
    width: 50px;
    height: 50px;
    background-color: aqua;
    text-align: center;
    line-height: 50px;
    margin: 5px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: .15s ease-in-out;
    box-shadow: 1px 2px 5px 1px black;
}
.manuInicio{
    color: #000
}
.home{
    width: 60px;
    height: 60px;
    line-height: 55px;
    font-size: 26px;
    background-color: #fff;
    color: #000;
    transition: .5s;
}
.home:hover::after{
    content: 'Inicio';
    position: absolute;
    width: 200px;
    left: -70px;
    bottom: -45px;
    color: #fff;
}
.iconoPoke a, .iconoPikachu a, .home a{
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}
.iconoPoke{
    background-color: #ec0813;
    width: 50px;
    height: 50px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconoPoke img{
    width: 30px;
}
.iconoPoke:hover::after{
    content: 'Pokeballs';
    position: absolute;
    width: 200px;
    left: -75px;
    bottom: -50px;
    color: #fff;
    font-size: 22px;
}

.iconoStars:hover::after{
    color: #fff;
    content: 'Ediciones Especiales';
    position: absolute;
    font-size: 22px;
    width: 200px;
    left: -75px;
    bottom: -50px;
}
.iconoStars{
    color: #000;
    background-color: goldenrod;
    width: 50px;
    height: 50px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconoStars img{
    width: 35px;
}
.iconoPoke:hover, .iconoStars:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
}

.logo a span{
    color: rgb(255, 0, 0);
    font-size: 26px;
    margin-left: 20px;
}
.FormBuscador{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.inpBuscar{
    outline: none;
    border: none;
    width: 120px;
    height: 50px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
}
.btnBuscar{
    width: 80px;
    height: 50px;
    background-color: #FDCA32;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    font-size: 17px;
}
.btnBuscar:hover{
    background-color: orange;
}