@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    /* border: 1px solid red; */
}
/* 
background: #141414; 
background-color: orange;
*/
.navBar{
    background-color: #474647;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    z-index: 1000;
}

.menuInicio{
    display: flex;
    align-items: center;
}
.ropaHombre, .ropaMujer, .home{
    width: 50px;
    height: 50px;
    background-color: aqua;
    text-align: center;
    line-height: 50px;
    margin: 5px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: .15s ease-in-out;
    box-shadow: 1px 2px 5px 1px black;
}
.manuInicio{
    color: #000
}
.home{
    width: 60px;
    height: 60px;
    line-height: 55px;
    font-size: 26px;
    background-color: #fff;
    color: #000;
    transition: .5s;
}
.home:hover::after{
    content: 'Inicio';
    position: absolute;
    width: 200px;
    left: -70px;
    bottom: -45px;
}
.ropaHombre a, .ropaMujer a, .home a{
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}
.ropaHombre{
    background-color: #5cb6e0;
    color: #000;
}
/* .ropaHombre:hover::after{
    content: 'Ropa Hombre';
    position: absolute;
    width: 200px;
    left: -75px;
    bottom: -40px;
}
.ropaMujer:hover::after{
    content: 'Ropa Mujer';
    position: absolute;
    width: 200px;
    left: -75px;
    bottom: -40px;
} */
.ropaMujer{
    color: #000;
    background-color: #db3c86;
}
.ropaHombre:hover, .ropaMujer:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
}
.logo a{
    text-decoration: none;
}
.logo a span{
    color: #fff;
    font-size: 26px;
    margin-left: 20px;
}
.FormBuscador{
    margin-right: 10px;
}
.inpBuscar{
    outline: none;
    border: none;
    width: 100px;
    margin-right: 5px;
    border-radius: 5px;
}
.btnBuscar{
    width: 60px;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
}
.btnBuscar:hover{
    background-color: orange;
}