body{
    background-color: #333;
    width: 100%;
    height: 100vh;
}

.imgCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: #FFF;
}
.imgCarrito img{
    width: 150px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 13px;
}
.imgCarrito span{
    width: 40px;
    height: 40px;
    background-color: #ff0000;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    border-radius: 50%;
    position: relative;
    top: 20px;
    left: 80px;
}